/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  height: calc(100 * var(--vh, 1vh));
  min-width: 360px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f1eeee;
  background: #1d1c1c;
}

::selection {
  color: #f1eeee;
  background: #1d1c1c;
}
